


 .img-section{
  width:85%;
  margin-left: 6%;
  border-radius: 10px;

  margin-top:12%;
  height:300px;
  background-color: #000;
  background: linear-gradient(135deg,#666,rgba(0,0,0,0.3),#737171);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
.main-music-image{
   width:100%;
   /* border-radius: 10px; */
   height: 100%;
   
}
.music-page{
    background:linear-gradient(130deg,#333,#121212,#000,#737171);
    width:110%;
    height:1020vh;
    text-wrap: wrap;
    padding-left: 15px;
    z-index:1000 ;
    position: absolute;
    top:0;
    left:0;
    right: 0px;
   
}
.music-display-description{
    /* width:100%; */
    /* height: 40px; */
    /* background-color: brown; */
    display:flex;
    margin-top: 40px;
    padding: 20px;
    flex-direction: column;
}
.music-display-description h2{
    font-size: 2.4rem;
}
.des-group-detail{
    display: flex;
    padding: 2px;
    align-items: center;
    gap:20px;
}
.des-group-detail strong{
    font-size: 1.3rem;
}
.music-display-description p{
    font-size: 1.2rem;
    color: #737171;
    font-weight: 600;
}
.playsong-description{
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
}
.playsong-description img{
    border-radius: 15px;
    border: 5px solid #333;
    height: 60px;
    width:55px;
}
.song-btn{
    padding: 20px;
    width:20px;
    height: 20px;
    background-color: rgb(198, 54, 150);
    /* background-color: rgb(13, 206, 13); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-image{
  width:40px;
  border-radius: 50%;
  height: 40px;
}
.play-icon{
    font-size: 30px;
    color: #121212;
}
.pause-icon{
    font-size: 30px;
    color: #121212;
    text-align: center;
    margin-top: -8px;
}
